MONGO_DB_PROTOCOL=mongodb+srv
MONGO_DB_USERNAME=karachiwalaumer2612_db_user
MONGO_DB_PASSWORD=Ob36phl9r9gCzHX2
MONGO_DB_HOST=cluster0.eu1mlvh.mongodb.net
MONGO_DB_NAME=humpty-dumpty-data
MONGO_DB_OPTIONS=?retryWrites=true&w=majority

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
